@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --color-paper: #e1dcc5;
    --color-ink: #2d2d2a;
    --color-leather: #8b5e3c;
    --color-bookmark: #b22222;
    --color-highlight: #4a7c59;
    --color-parchment: #f5f5f0;
}
